body {
   background-color: #00950f;
 color: white;
 font-family: "Oxanium", serif;
 display: flex;
 justify-content: center ;
 align-items: center;
 height: 700px;
 margin: 0;
}

button {
background-color: #355b07;
color: white;
font-family:  "Oxanium", serif;

}

.passo {
   display: none;
}

.passo.ativo {
    display:block;
}

main{
    text-align: center;
     max-width: 90%;

}

img {
    max-width:100%;
}